<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PEÑA LA CLEMENTINA</title>
  </head>
  <body>
    <form class="" action="/ingreso" method="post">
      <input type="text" name="Nombre" value="" placeholder="NOMBRE">
      <input type="text" name="Apellidos" value="" placeholder="APELLIDOS">
      <input type="number" name="Edad" value="EDAD" placeholder="EDAD">
      <input type="submit" name="Registrar" value="">
    </form>
  </body>
</html>
