<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Prueba</title>
  </head>
  <body>
      <form action="/prueba" method="post">
        Nombre:<br>
        <input type="text" name="nombre" value="Mickey"><br>
        Apellido:<br>
        <input type="text" name="apellido" value="Mouse"><br><br>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
